.example-card {
    width: 260px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
  }
  
  .example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2015/01/19/13/51/car-604019__340.jpg');
    background-size: cover;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  