.example-card {
    max-width: 400px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
  }
  
  .example-header-image {
    background-image: url('https://content3.jdmagicbox.com/comp/vijayawada/b2/0866px866.x866.160510190939.f4b2/catalogue/satish-car-driving-school-singh-nagar-vijayawada-motor-training-schools-2ju22.jpg');
    background-size: cover;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  