<button mat-raised-button color="primary" (click)="undefine()" data-toggle="modal" data-target="#myModal">Add
    Course</button>
  <br>
  <div *ngFor="let course of courses;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{course.name}} </mat-card-title>
        <mat-card-subtitle>{{course.type}}</mat-card-subtitle>
      </mat-card-header>
      <hr style="border: 1px solid lightgray; margin-top: 0px">
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>Description: {{course.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div style="float: right;">
        <mat-icon style="cursor: pointer;">remove_red_eye</mat-icon>
        <mat-icon color="primary" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"
          (click)="updateCourse(course.id)">edit</mat-icon>
        <mat-icon color="warn" style="cursor: pointer;" (click)="openDialog(course.id)">delete</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Course Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form #form="ngForm" (ngSubmit)="processForm()">
            <div>
              <mat-form-field>
                <input matInput name="name" placeholder="course name" [(ngModel)]="course.name" />
              </mat-form-field>
            </div>
            <div>
              Course Type:
              <input type="radio" name="type" [(ngModel)]="course.type" value="theory">Theory
              <input type="radio" name="type" [(ngModel)]="course.type" value="practical">Practical
            </div>
            <br>
            <div>
              <input type="file">
            </div>
            <br>
            <textarea matInput name="description" placeholder="Course Description"
            [(ngModel)]="course.description"></textarea>
            <div>
              <input class="btn btn-primary" type="submit" value="{{ 'HOME.Save' | translate }}">
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'HOME.Close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  
